name: Deploy

on:  
  workflow_dispatch:
  schedule:
  - cron: '5 8 * * *'  # every day at 5:04

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Set up Python
        uses: actions/setup-python@v4.3.0
        with:
          python-version: '3.x'
          cache: 'pip'
      - name: Wait for Test
        uses: fountainhead/action-wait-for-check@v1.1.0
        with:
          checkName: test
          token: ${{ github.token }}
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run Script
        run: python MicrosoftRewardsBot.py --accounts ${{ secrets.ACCOUNTS }} --headless --fast --privacy
